body {
    font-family: "Courier New", Courier, sans-serif;
    height: 100%;
    color:white;
    font-weight: bold;
    line-height: 1.8;
    text-align: center;
    font-size: 1.7vw;

    background-image: url('../images/gym1.jpg');
    /*height: 100vh;*/

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}



span{
  color:black;
  font-size: 30px;
  font-weight: bold;
}

p {
  text-align: center;
  align: center;
}

h3 {
  display: inline-block;
  width: 70%;
}

label {
  display: inline-block;
  font-size: 1.2vw;
  text-align: justify;
  width: 35%;
}

input, button {
  margin: 0 auto;
  margin-bottom: 10px;
  display: inline-block;
  font-family: "Courier New", Courier, sans-serif;
  font-size: 2.5vw;
  background: rgba(1,1,1,0.2);
}

input {
  border: solid 2px #40343b;
  border-radius: 20px;
  padding:5px;
}

::placeholder{
  color:white;
  }

button {
  color: white;
  background: rgba(1,1,1,0);
  border: 5px solid #FFFAF0;
  border-radius: 50px;
  margin-top: 5px;
  font-size: 2.8vw;
  outline:none;
}

button:hover,
button.hover {
  border-color: #40343b;
  color: #40343b;
}

button:active,
button.active {
  border-color: #40343b;
  color: #40343b;
}

input, select, textarea{
    color: #000000;
}

textarea:focus, input:focus {
    color: #000000;
}

#createAccountButton
{
  margin-top:150px;
}


