body{
	background-image: url('gym1.jpg');
    /*height: 100vh;*/

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

h1{
	color:white;
}

::placeholder{
	color:;
}