*{
	margin:0;
	padding: 0;
}

body{
	background-image: url('gym1.jpg');
    height: 0;



    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

#mid{

	width: 80%;
	height: 100vh;
}

div{
	float:left;
}

h1:first-child{
	margin:15px;
}

#hello{
	margin-left:15px;
}

span:first-child{
	font-size: 25px;
}

#macros{
	width:80%;
	border-bottom:2px solid black;
	padding-bottom:5px;
}

p{
	margin-left:15px;
	font-size: 23px;

}

span{
	font-size: 23px;
}

#side-nav{
	width:20%;
	height: 150vh;
	color:white;
	font-weight: bold;
	background-color: #666666;
	opacity: .9;
}

#whole-page{
	position: relative;
	left:280px;
	width:40%;
	
}

.show{
	display: block;
	visibility: visible;
}

.hide{
	display: none;
	visibility: hidden;
}

#whole-page h1{
	text-align: center;
	color:white;
	font-weight: bold;
	font-size: 35px;
	margin-left:5px;

}

#updateMacros{
	height: 70px;
	width: 100%;
	font-size: 25px;
	background-color: #666666;
	border:none;
	cursor: pointer;
	font-weight: bold;
}

#updateMacros:hover{
	border-bottom: 2px solid black;
	color: white;
}

#workoutTrackerButton{
	height: 70px;
	width: 100%;
	font-size: 25px;
	background-color: #666666;
	border:none;
	cursor: pointer;
	font-weight: bold;
}

#workoutTrackerButton:hover{
	border-bottom: 2px solid black;
	color: white;
}

#logout{
	height: 70px;
	width: 100%;
	font-size: 25px;
	background-color: #666666;
	border:none;
	cursor: pointer;
	font-weight: bold;
}

#logout:hover{
	border-bottom: 2px solid black;
	color: white;
}

input{
	height:30px;
	width:250px;
	position: relative;
	left: 30px;
	margin-bottom: 15px;
	border-radius: 15px;
	padding:5px;
}

#proteinInput{
	margin-left:10px;
}

#fatInput{
	margin-left:50px;
}

#carbsInput{
	margin-left:20px;
}

::placeholder{
	font-size: 20px;
}

#whole-page > button{
	height: 50px;
	width: 150px;
	margin-left:180px;
	margin-top:5px;
	border-radius: 25px;
	cursor: pointer;
}

h2{
	color:white;
	margin-left:10px;
	float:left;
}

#messageResult{
	font-weight: bold;
	font-size:23px;
	color:white;
	margin-top:10px;
	margin-left:130px;
}

#message{
	font-weight: bold;
	font-size:23px;
	color:white;
	margin-top:10px;
	margin-left:130px;
}

#middle
{
	margin-top:20px;
	background-color: #5B90BF;
	width: 100%;
	height: 150px;

}

#middle > p{
	float: left;
}

.headerLabel{
	width: 100%;
	height: 35px;
	background-color: #5B90BF;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	margin-top: 30px;
}

.headerLabel > h2{
	color:black;
	position: relative;
	top: 3px;
}

.headerLabel > h3{
	float:left;
	position: relative;
	left: 180px;
	top: 6px;
	margin-right:150px;
}

.headerLabel > h3:nth-child(4){
	margin-left:20px;
}

.headerLabel > h3:nth-child(5)
{
	margin-left:25px;
}

.addFood{
	width: 100%;
	height:50px;
	padding-top:5px;
	padding-right: 900px;
	background-color: white;
	border:none;
	cursor: pointer;
}

.alteredAddFood{
	width: 100%;
	height: 50px;
	padding-top: 5px;
	padding-right: 900px;
	background-color: white;
	border: none;
	cursor: pointer;
	margin-top:60px;
}

#plusSign{
	height:20px;
	width: 20px;
	margin-top:3px;
	margin-left:5px;
	float:left;
}

#pieChart{
	width: 20px;
	height: 20px;
	margin-left:10px;
	margin-top:3px;
	float: left;
}

#nutritionButton{
	width: 150px;
	height: 50px;
	margin-left:300px;
	margin-top:40px;
	background-color: black;
	border:none;
	border-radius:20px;
	cursor: pointer;
}

#nutritionButton > p {
	color:white;
}

#notes{
	width: 20px;
	height:20px;
	float: left;
	margin-left:12px;
	margin-top:3px;
}

#notesButton{
	width: 150px;
	height: 50px;
	color:white;
	background-color: black;
	border: none;
	border-radius: 20px;
	padding-right:5px;
	margin-left:100px;
	cursor: pointer;
}

#enterBreakfast
{
	width: 510px;
	height: 370px;
	position: relative;
	background-color: #666666;
	left: 290px;
	top:30px;
	margin-bottom:30px;
	padding-top:10px;
	padding-left:10px;
	border:2px solid black;
	border-radius:30px;
}

#foodName{
	margin-left:51px;
	border:none;
}

#caloriesFood{
	margin-left:89px;
	border: none;
}

#proteinFood{
	border:none;
}

#fatFood{
	margin-left:40px;
	border:none;
}

#carbsFood{
	margin-left:10px;
	border:none;
}

#enterFoodBreakfast{
	width:150px;
	height: 50px;
	background-color: black;
	font-size:15px;
	font-weight: bold;
	color:white;
	border-radius: 75px;
	border:none;
	margin-top:10px;
	margin-left:70px;
	margin-right:50px;
	float:left;
}

#cancel{
	width:150px;
	height: 50px;
	background-color: black;
	font-size:15px;
	font-weight: bold;
	color:white;
	border-radius: 75px;
	border:none;
	margin-top:10px;
	float:left;

}

#foodMessage{
	float:left;
	position: relative;
	left: 100px;
	margin-top:10px;
	font-weight: bold;
}

.labels{
	width: 100%;
	height: 40px;
	
	float:left;
	font-size: 20px;
	font-weight: bold;
	background-color: blue;
	color:black;
	border-bottom: 1px solid black;
}


.newSpans{
	margin-right:210px;
	background-color: red;
	position: relative;
	top:5px;
	margin-left:5px;
}

.newSpans:nth-child(5){
	margin-right:0;
}


