*{
	margin:0;
	padding: 0;
}

body{
	background-image: url('gym1.jpg');
    /*height: 100vh;*/

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

#mid{

	width: 80%;
	height: 100vh;
}

div{
	float:left;
}

h1:first-child{
	margin:15px;
}

#hello{
	margin-left:15px;
}

span:first-child{
	font-size: 25px;
}

#macros{
	width:80%;
	border-bottom:2px solid black;
	padding-bottom:5px;
}

p{
	margin-left:15px;
	font-size: 23px;

}

span{
	font-size: 23px;
}

#side-nav{
	width:20%;
	height: 150vh;
	color:white;
	font-weight: bold;
	background-color: #666666;
	opacity: .9;
}

#whole-page{
	position: relative;
	left:280px;
	width:40%;
	background-color: red;
}

.show{
	display: block;
	visibility: visible;
}

.hide{
	display: none;
	visibility: hidden;
}

#whole-page h1{
	text-align: center;
	color:white;
	font-weight: bold;
	font-size: 35px;
	margin-left:5px;

}

#updateMacros{
	margin-left:70px;
	height: 30px;
	width: 120px;
	font-size: 15px;
	border-radius: 15px;
	cursor: pointer;

}

#logout{
	margin-top:15px;
	margin-left:70px;
	height: 30px;
	width: 120px;
	font-size: 15px;
	border-radius: 15px;
	cursor: pointer;

}

input{
	height:30px;
	width:250px;
	position: relative;
	left: 30px;
	margin-bottom: 15px;
	border-radius: 15px;
	padding:5px;
}

#proteinInput{
	margin-left:10px;
}

#fatInput{
	margin-left:50px;
}

#carbsInput{
	margin-left:20px;
}

::placeholder{
	font-size: 20px;
}

#whole-page > button{
	height: 50px;
	width: 150px;
	margin-left:180px;
	margin-top:5px;
	border-radius: 25px;
	cursor: pointer;
}

h2{
	color:white;
	margin-left:10px;
	float:left;
}

#messageResult{
	font-weight: bold;
	font-size:23px;
	color:white;
	margin-top:10px;
	margin-left:130px;
}

#middle
{
	background-color: #5B90BF;
	width: 100%;
	height: 150px;

}

#middle > p{
	float: left;
}

.headerLabel{
	width: 100%;
	height: 35px;
	background-color: #5B90BF;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	margin-top: 30px;
}

.headerLabel > h2{
	color:black;
	position: relative;
	top: 3px;
}







.addFood{
	width: 100%;
	height:50px;
	position: relative;

	padding-top:5px;
	padding-right: 900px;
	background-color: white;
	border:none;
	cursor: pointer;
}

#plusSign{
	height:20px;
	width: 20px;
	margin-top:3px;
	margin-left:5px;
	float:left;
}


